body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#menu-inicial {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#menu-inicial h1 {
    margin-bottom: 20px;
}

#menu-inicial input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#menu-inicial button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#menu-inicial button:hover {
    background-color: #0056b3;
}

#game-container {
    text-align: center;
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Escondido até começar o jogo */
    position: relative;
}

#score {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

#game-status {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Estilos específicos para as mensagens */
.win-message {
    color: green;
}

.lose-message {
    color: red;
}

.start-message {
    color: blue;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-gap: 10px;
    margin: 20px 0;
    justify-items: center;
}

.square {
    width: 120px;
    height: 120px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.square:hover {
    background-color: #ddd;
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.square.x {
    color: #4848e2; /* Azul para X */
    font-weight: bold;
}

.square.o {
    color: #da4646; /* Vermelho para O */
    font-weight: bold;
}


/* Animação para o movimento do jogador (X) */
.square.x-move {
    animation: zoomIn 0.5s ease;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#reset-btn {
    padding: 10px 20px;
    background-color: #ff5733;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

#reset-btn:hover {
    background-color: #e14c29;
}
